div {
    width: 200px;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 5px;
    border: solid 5px black;
    padding-top: 5px;
    font-weight: bold; 
    display: inline-block;
}
